<h1 class="text-center">Welcome To My Git-Search</h1>
<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >Git-hub </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- <github></github> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Github Username" [(ngModel)]="username" name="username"
                    (keyup)="search()">
            </div>
        </form>
    </div>
</div>
<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}">
                </div>
                <div class="col-md-8">
                    <div class="stats">
                        <span href="https://github.com/users?tab=repositories" class="label label-default">{{user.public_repos}} Public Repos</span>
                        <span class="label label-primary">{{user.public_gists}} Public Gists</span>
                        <span class="label label-success">{{user.followers}} Followers</span>
                        <span class="label label-info">{{user.following}} Following</span>
                        <span class="label label-default">{{user.public_repos}} Public Repos</span>
                        
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
                        <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                        <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                        <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
                        <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at}}>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-heading">
        <div class="panel-heading.container{
            color: aqua;
        }">
            <h3 class="panel-title">Repos</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div *ngFor="let repo of repos">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><a href="{{html_url}}" target="_blank" class="btn btn danger">{{repo.name}}</a></h4>
                                <p>{{repo.description}}</p>
                                <!-- id="view"> VIEW ALL <span class="glyphicon glyphicon-share-alt"></span></a> -->
                            </div>
                            <div class="col-md-3">
                                    <span class="label label-default">{{repo.watchers}} watchers</span>
                                    <span class="label label-primary">{{repo.forks}} Forks</span>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>